.selected-job-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.priority-ref {
    display: flex;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons-right {
    display: flex;
    gap: 10px;
}