.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 70px;
    height: 100vh;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.search-container svg {
    width: 20px;
    height: 20px;
    color: #0d6efd;
    transition: all 0.2s ease-in-out;
}

.search-container a {
    padding: 0 5px 15px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.search-container svg:hover {
    scale: 1.1;
}

.search-container>button>svg {
    color: white;
}

.user {
    background-color: #0d6efd;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    border-radius: 50%;

    font-size: 1.7rem;
    font-weight: bold;

    text-decoration: none;
    color: white;
}

.signout-button {
    width: 40px;
    height: 40px;
}